.hero-section {
  background-color: #2e2f42;
}

.hero-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #fff;
  padding: 16px 32px;
  max-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
